:root {
  font: 16px / 1 'Verdana' sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: rgb(221, 242, 243);
  margin: 0;
  min-height: 100%;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px 0px 5px;
}

header ul {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 191, 213, 255);
  list-style: none;
}

header ul li {
  color: rgb(242, 247, 245, 255);
  background-color: rgb(0, 191, 213, 255);
  padding: 0px 10px;
}

h1 {
  color: rgb(65, 84, 103, 255);
}

h3 {
  color: rgb(65, 84, 103, 255);
}

h4 {
  color: rgb(65, 84, 103, 255);
}

.kittens-of-day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1.5px solid rgb(0, 138, 161, 255);
  padding: 5px;
  margin: 0px auto 10px 20px;
}

.kittens-of-day ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 10px 35px 38px 35px;
}

.kittens-of-day h4 {
  text-align: left;
  padding: 0px;
  margin: 5px 0px;
}

.blog-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
  margin: 0px 30px 0px 30px;
}

.blog-post h3 {
  text-align: left;
  margin: 10px 0px 5px;
}

p {
  margin: 10px 0px;
}

main {
  display: flex;
  align-items: flex-start;
}

footer {
  background-color: rgb(211, 211, 211);
}

footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  text-decoration: underline;
  padding: 10px;
  margin: auto;
}

footer ul li {
  padding: 5px 15px;
}

a {
  text-decoration-color: white;
}

nav ul {
  display: flex;
  padding: 10px;
}
